.Different-font{
    font-family: Georgia;
    color: #347b98;
    font-style: italic;
    
}

main {
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.margins-para1 {
    background-color:#E4F1F6 ;
}

.margins-para2 {background-color: #e6e6e6;
    
}

